
{% extends "layout.html.twig" %}

{% block javascripts %}
<script>
const eventSource = new EventSource("{{ mercure('http://example.com/rooms/'~room.id)|escape('js') }}");
eventSource.onmessage = event => {
    const data = JSON.parse(event.data);
    alert(`L'utilisateur ${data.user} a rejoint la salle`);
}
</script>
{% endblock %}

{% block content %}
<main class="w-full">
    <div class="text-center w-full text-7xl">
        <h2>Chat</h2>
    </div>
</main>
{% endblock %}
