{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex min-h-screen  2xl:max-w-screen-2xl 2xl:mx-auto 2xl:border-x-2 2xl:border-gray-200">
        {{ include('layout/_left-menu.html.twig') }}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
